@page  "{id:int?}"
@model RazorCars.Pages.Cars.EditCarModel
@{
    ViewData["Title"] = "Ændre i Peters Cars";
}

<h1> I've got the id = @Model.ACar.Id</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.ACar.Id" class="custom-control-label">Bil Id</label>
                <input asp-for="@Model.ACar.Id" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ACar.Model" class="custom-control-label">Bil Model</label>
                <input asp-for="@Model.ACar.Model" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ACar.Color" class="custom-control-label">Bil Farve</label>
                <input asp-for="@Model.ACar.Color" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Opdater Car" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>